package ${package.controllerPackage};;

import ${package.entityPackage}.${package.className};
import ${package.servicePackage}.${package.className}Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

import java.io.Serializable;
import java.util.List;

@RestController
@RequestMapping("${package.objName}")
public class ${package.className}Controller {
    @Autowired
    private ${package.className}Service ${package.objName}Service;

    /**
     * 查询所有
     * @return 返回列表
     */
    @RequestMapping("findAll")
    public List<${package.className}> findAll(){
        List<${package.className}> list = ${package.objName}Service.findAll();
        return list;
    }

    /**
     * 根据主键查询
     *
     * @return 返回记录，没有返回null
     */
    @RequestMapping("findById")
    public ${package.className} findBy${table.pkCapitalizeName}(${table.pkType} ${table.pkName}) {
        return ${package.objName}Service.findBy${table.pkName}(${table.pkName});
    }

    /**
     * 新增，插入所有字段
     *
     * @return 返回影响行数
     */
    @RequestMapping("add")
    public int insert(${package.className} ${package.objName}) {
        return ${package.objName}Service.insert(${package.objName});
    }


    /**
     * 修改，修改所有字段
     *
     * @return 返回影响行数
     */
    @RequestMapping("update")
    public int update(${package.className} ${package.objName}){
        return ${package.objName}Service.update(${package.objName});
    }

    /**
     * 删除记录
     *
     * @return 返回影响行数
     */
    @RequestMapping("delete")
    public int delete(${table.pkType} ${table.pkName}){
        return ${package.objName}Service.delete(${table.pkName});
    }
}
